# Exemplo de arquivo keystore.properties
# Copie este arquivo para "keystore.properties" (na raiz do projeto) e preencha com os dados da sua chave .jks
# Nota: O arquivo "keystore.properties" real está no .gitignore e não deve ser commitado no Git.

storeFile=/caminho/completo/para/seu/arquivo.jks
storePassword=sua_senha_do_keystore
keyAlias=seu_alias_da_chave
keyPassword=sua_senha_da_chave
